<p-accordion (onOpen)="onTabOpen($event)" (onClose)="onTabClose($event)" *ngIf="metaData && metaData.matadata" class="accordion-header">
    <p-accordionTab header="header" class="accordion-header" [header]="eachMetaData.uid" #accordionElements
        *ngFor="let eachMetaData of metaData.matadata;let i =index"  >
        <p-header class="accordion-heading">
            <div class="accordion-title">{{eachMetaData.heading}}</div>
            <img src="./assets/images/icon_Plus.png" class="icon-plus" *ngIf="openAccordionIndex !== i">
            <img src="./assets/images/icon_Minus.png" class="icon-minus" *ngIf="openAccordionIndex == i">
        </p-header>
        <div>
            <ul>
                <li *ngFor="let content of eachMetaData.data">
                    <div class="d-flex accordion-heading accordion-item">
                        <div>
                            <span class="input-label-text subheading-label-text"
                                *ngIf="content.subHeading">{{content.subHeading}}:</span>{{content.content}}
                        </div>
                    </div>
                </li>
            </ul>            
        </div>
    </p-accordionTab>
</p-accordion>