.input-label-text {
    font-size: 16px;
    line-height: 18px;
}
.question-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 15px;
}
.section-heading {
    font-size: 34px;
    line-height: 29px;
    margin-bottom:22px;
}
.resume-session-information {
    display: flex;
}
.resume-session-properties {
    display: flex;
    justify-content: space-between;
}

.main-heading{
 font-weight: 500;
}

.resume-session-text{
    padding-bottom: 15px;
}

.customer-details{
    width: 50%;
}
.resume-form {
    display: flex;
    justify-content: space-between;
}
.resume-form-wrapper {
    flex: 1;
}
.input-section {
    position: relative;
    
}
.error-msg {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: red;
}
.landing-input-section{
    position: relative;
}
.input-section {
    padding-bottom: 30px !important;
}
