<div class="common-block-padding">
        <div class="section-heading-text common-heading-padding">Start a new session:</div>
        <div class="section-subheading-text common-subheading-padding">Your Information</div>
        <!-- input element -->
        <div class="input-section">
            <div class="input-label-text">Sales Rep Name:</div>
            <input type="text" class="input-element">
        </div>
    </div>
    <div class="common-block-padding">
        <div class="section-heading-text common-heading-padding">Start a new session:</div>
        <div class="section-subheading-text common-subheading-padding">Your Information</div>
        <!-- input element -->
        <div class="input-section">
            <div class="input-label-text">Sales Rep Name:</div>
            <input type="text" class="input-element">
        </div>
        <div class="input-section">
            <div class="input-label-text">Sales Rep Name:</div>
            <input type="text" class="input-element">
        </div>
        <div class="input-section">
            <div class="input-label-text">Sales Rep Name:</div>
            <input type="text" class="input-element">
        </div>
    </div>
    <!-- <div>
      <div class="information-heading-text common-heading-padding">Client Information</div>
      <div class="input-section common-input-element-padding">
          <div class="label-text">Client Name:</div>
          <input type="text" class="input-element">
      </div> -->
    <!-- <div class="input-section common-input-element-padding">
          <div class="label-text">Client Company:</div>
          <input type="text" class="input-element">
      </div>
      <div class="input-section common-input-element-padding">
          <div class="label-text">Client Phone:</div>
          <input type="text" class="input-element">
      </div>
      <div class="input-section common-block-padding">
          <div class="label-text">Client Email:</div>
          <input type="text" class="input-element">
      </div> -->
    <!-- 
  </div> -->
    <!-- common button -->
    <div class="common-button-styles">
        <div class="button-styling">Get Started<img class="next-arrow" src="/assets/images/icon_arrow.png">
        </div>

    </div>

    <!-- check box start here -->
    <div class="checkbox-padding"><input type="checkbox" id="fruit1" name="fruit-1" value="Apple">
        <label for="fruit1" class="input-label-text">Apple</label></div>

    <!-- check box end here -->

    <!-- radio button start here -->
    <div class="radio-button-padding">
        <input type="radio" name="demo" value="one" id="radio-one" class="form-radio"><label for="radio-one"
            class="input-label-text radio-label-text">Radio1</label>
    </div>

    <div class="radio-button-padding">
        <input type="radio" name="demo" value="two" id="radio-two" class="form-radio"><label for="radio-two"
            class="input-label-text radio-label-text">Radio2</label>
    </div>



    <!-- radio button end here -->

    <!-- textarea start here -->
    <div class="">
        <div class="input-label-text common-label-padding">Notes(Optional):</div>
        <textarea cols="40" rows="5" class="text-area"></textarea>
    </div>

    <!-- textarea end here -->

    <!-- another input box  -->
    <div class="common-block-padding">
        <div class="input-label-text common-label-padding">Sales Rep Name:</div>
        <input type="text" class="input-element">
    </div>
    <!-- another input box -->

    <div>
        <div class="form-question-text common-block-padding">question question question question question
            question ?
        </div>
        <div class="radio-button-padding">
            <input type="radio" name="demo" value="one" id="radio-one" class="form-radio"><label for="radio-one"
                class="input-label-text radio-label-text">Radio1</label>
        </div>

        <div class="radio-button-padding">
            <input type="radio" name="demo" value="two" id="radio-two" class="form-radio"><label for="radio-two"
                class="input-label-text radio-label-text">Radio2</label>
        </div>
        <div>
            <!-- check box start here -->
            <div class="checkbox-padding"><input type="checkbox" id="fruit1" name="fruit-1" value="Apple">
                <label for="fruit1" class="input-label-text">Apple</label></div>
            <div class="checkbox-input-section">
                <div class="radio-button-padding">
                    <div class="input-label-text common-label-padding">Sales Rep Name:</div>
                    <input type="text" class="input-element">
                </div>
                <div class="">
                    <div class="input-label-text common-label-padding">Notes(Optional):</div>
                    <textarea cols="40" rows="5" class="text-area"></textarea>
                </div>
            </div>
        </div>
        <div>
            <div class="common-label-padding">
                <input type="radio" name="demo" value="one" id="radio-one" class="form-radio"><label
                    for="radio-one" class="input-label-text radio-label-text">Radio1</label>
            </div>
            <div class="radio-input-section">
                <div class="radio-button-padding">
                    <div class="input-label-text common-label-padding">Sales Rep Name:</div>
                    <input type="text" class="input-element">
                </div>
                <div class="">
                    <div class="input-label-text common-label-padding">Notes(Optional):</div>
                    <textarea cols="40" rows="5" class="text-area"></textarea>
                </div>
            </div>
        </div>
    </div>		

    <div class="common-button-styles">
        <div class="button-styling prev-arrow-button">Previous<img class="prev-arrow"
                src="/assets/images/icon_arrow.png"></div>
        <div class="button-styling">Next<img class="next-arrow" src="/assets/images/icon_arrow.png"></div>
    </div>
    <div class='skipped-questions'>
        <div class="question border-bottom">
            <div class="return-question-text">
                Are you planning to upgrade on-prem or to migrate to Azure?
            </div>
            <div>
                <div class="button-styling prev-arrow-button">Return to question<img class="prev-arrow"
                        src="/assets/images/icon_arrow.png"></div>
            </div>
        </div>
        <div class="question border-bottom">
            <div class="return-question-text">
                Do you have budget allocated for use in that timeframe?
            </div>
            <div>
                <div class="button-styling prev-arrow-button">Return to question<img class="prev-arrow"
                        src="/assets/images/icon_arrow.png"></div>
            </div>
        </div>
        <div class="question">
            <div class="return-question-text">
                What are your infrastructure requirements going to be?
            </div>
            <div>
                <div class="button-styling prev-arrow-button">Return to question<img class="prev-arrow"
                        src="/assets/images/icon_arrow.png"></div>
            </div>
        </div>
    </div>
    <div class="radio-input-section">
        <div class="stake-holder-section">
            <div class="input-section">
                <div class="input-label-text">Sales Rep Name:</div>
                <input type="text" class="input-element">
            </div>
            <div class="input-section">
                <div class="input-label-text">Sales Rep Name:</div>
                <input type="text" class="input-element">
            </div>
            <div class="input-section">
                <div class="input-label-text">Sales Rep Name:</div>
                <input type="text" class="input-element">
            </div>
        </div>
        <div class="plus-stake-holder">
            <img src="/assets/images/icon_Plus.png" class="icon-plus">
            <div class="add-stake-holder">Add stakeholder</div>
        </div>
    </div>


    <div class="common-button-styles">
        <div class="button-styling finish-button">Finish<img class="next-arrow"
                src="/assets/images/icon_arrow.png">
        </div>
    </div>