
    <header class="header-section" >
        <img src="{{'assets/images/Logo.png' | assetspipe}}" class="logo-image">
        <div class="section-heading-text">Windows Server 2008 End of Life Call Guide</div>
    </header>

    <!-- page1 html start here -->
    <div class="information">
        <div class="left-side-section" *ngIf=isLandingPage id="left-side-section">
            <div class="accordion-container">
                <app-accordion></app-accordion>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
