<main class="main-section">
	<header class="header-section">
		<img src="../assets/images/Logo.png" class="logo-image">
		<div class="section-heading-text">Windows Server 2008 End of Life Call Guide</div>
	</header>

	<!-- page1 html start here -->
	<section class="information">
		<div class="left-side-section">
			<div class="accordion-container">
				<app-accordion></app-accordion>
			</div>
		</div>
		<div class="content-section">
			<div>
				<!-- <app-questionnaire-nav></app-questionnaire-nav> -->
				<router-outlet></router-outlet>
			</div>
		</div>
		<div class="right-nav">
			<div class="right-nav-button-wrapper">
				<div *ngIf="openSideNavFlag" class="nav-button-wrapper">
					<img (click)="closeSideNav()" class="side-nav-icon" src="../assets/images/icon_arrow.png">
				</div>
				<div *ngIf="!openSideNavFlag " class="nav-button-wrapper">
					<img (click)="openSideNav()" class="side-nav-icon prev-side-nav-icon"
						src="../assets/images/icon_arrow.png">

				</div>
			</div>
			<div class="right-nav-accordion" #rightNavAccordion>
				<app-accordion></app-accordion>
			</div>
		</div>

	</section>
</main>