<p-accordion (onOpen)="onTabOpen($event)" (onClose)="onTabClose($event)">
    <p-accordionTab header="Godfather I"  class="accordion-header">
        <p-header class="accordion-heading">
            <div class="accordion-title">Header Content</div>
            <img src="../assets/images/icon_Plus.png" class="icon-plus" *ngIf="openAccordionIndex == i">
            <img src="../assets/images/icon_Minus.png" class="icon-minus" *ngIf="openAccordionIndex != i">
        </p-header>
        <ng-template pTemplate="content" >
            <div *ngFor="let eachQue of questionnaireData; let ind= index">
                <div class="content-sections">
                    <div class="accodion-content-section" (click)="takeQuestion(eachQue)">
                        <input disabled type="checkbox" [id]="eachQue.formData[0].name" [name]="eachQue.formData[0].name"  [checked]="eachQue.isAnswered" [(ngModel)]="eachQue.isAnswered">
                        <label [for]="eachQue.formData[0].name" class="input-label-text">{{ eachQue.question }}</label>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-accordionTab>
</p-accordion>