<p-accordion (onOpen)="onTabOpen($event)" (onClose)="onTabClose($event)">
        <p-accordionTab header="Godfather I"  class="accordion-header" *ngFor="let accordion of accordionData; let i= index">
            <p-header class="accordion-heading">
                <div>Header Content</div>
                <img src="../assets/images/icon_Plus.png" class="icon-plus" *ngIf="openAccordionIndex != i">
                <img src="../assets/images/icon_Minus.png" class="icon-minus" *ngIf="openAccordionIndex == i">
            </p-header>
            <ng-template pTemplate="content">
                    Complex Content to Lazy Load
                    The story begins as Don Vito Corleone, the head of a New York Mafia family, overseeshis
                    daughter's wedding. His beloved son ichael has just come home from the war, but does not intend
                    to become part of his father's business. T hrough Michael's life the nature of the family
                    business becomes clear. The business of the family is just like the head of the family, kind and
                    benevolent to those who give respect, but given to ruthless violence whenever anything stands
                    against the good of the family.
                </ng-template>
        </p-accordionTab>
       
    </p-accordion>