<p-accordion (onOpen)="onTabOpen($event)" (onClose)="onTabClose($event)" #accordion>
    <p-accordionTab header="Accordion-header1" class="accordion-header" #kickoffQuestions >
        <p-header class="accordion-heading">
            <div class="accordion-title">{{massagesQuestionnaireData.kickOffQuestions.name}}</div>
            <img src="{{'assets/images/icon_Plus.png' | assetspipe}}" class="icon-plus" *ngIf="formData.openAccordionIndex != 0">
            <img src="{{'assets/images/icon_Minus.png' | assetspipe}}" class="icon-minus" *ngIf="formData.openAccordionIndex == 0">
        </p-header>
        <div>
            <div class="accordion-content-items" *ngFor="let eachQue of massagesQuestionnaireData.kickOffQuestions.data; let ind= index">
                <div class="content-sections">
                    <div class="accodion-content-section" [ngClass]="{'active-que': (currentPage == eachQue.id)}"
                        (click)="takeQuestion(eachQue)">
                        <input disabled type="checkbox" [id]="eachQue.formData[0].name"
                            [name]="eachQue.formData[0].name" [checked]="eachQue.isAnswered"
                            [(ngModel)]="eachQue.isAnswered">
                        <label [for]="eachQue.formData[0].name" class="input-label-text"></label>
                        <div class="question-text">{{ eachQue.question }}</div>
                    </div>
                </div>
            </div>
        </div>
    </p-accordionTab>
    <p-accordionTab header="Accordion-header2" class="accordion-header" #nextsteps >
        <p-header class="accordion-heading">
            <div class="accordion-title">{{massagesQuestionnaireData.nextSteps.name}}</div>
            <img src="{{'assets/images/icon_Plus.png' | assetspipe}}" class="icon-plus" *ngIf="formData.openAccordionIndex != 1">
            <img src="{{'assets/images/icon_Minus.png' | assetspipe}}" class="icon-minus" *ngIf="formData.openAccordionIndex == 1">
        </p-header>
        <div>
            <div class="next-steps accordion-content-items" *ngFor="let eachQue of massagesQuestionnaireData.nextSteps.data; let ind= index">
                <div class="content-sections">
                    <div class="accodion-content-section" [ngClass]="{'active-que': (currentPage == eachQue.id)}"
                        (click)="takeQuestion(eachQue)">
                        <input disabled type="checkbox" [id]="eachQue.formData[0].name"
                            [name]="eachQue.formData[0].name" [checked]="eachQue.isAnswered"
                            [(ngModel)]="eachQue.isAnswered">
                        <label [for]="eachQue.formData[0].name" class="input-label-text"></label>
                        <div class="cursor-pointer next-question-text">{{ eachQue.question }}</div>
                    </div>
                </div>
            </div>
        </div>
    
    </p-accordionTab>
    <div class="accordion-title accordion-heading accordion-header" (click)="gotFinish()">Finish</div>
</p-accordion>