<section class="conclusion-section" [attr.pageView]="/16-thank-you">
  <div *ngIf="unansweredQuestions.length">
      <div class="thankyou-msg">Thank you for taking the time to speak with me today.</div>
    <div class="skipped-questions-heading">Skipped Questions:</div>
    <div class='skipped-questions'>
      <div class="question border-bottom" *ngFor="let question of unansweredQuestions">
        <div class="return-question-text">
          {{question.question}}
        </div>
        <div>
          <div class="button-styling prev-arrow-button" (click)="takeQuestion(question)">Return to question<img
              class="conclusion-prev-arrow" src="./assets/images/icon_arrow.png"></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!unansweredQuestions.length" class="submit-text">
    You answered all the questions. Click finish button to complete the test.
  </div>

<div class="common-button-styles">
              <div class="button-styling prev-arrow-button" (click)="previousQuestion()">
                  Previous
                  <img class="prev-arrow" src="./assets/images/icon_arrow.png">
              </div>
      <div class="button-styling finish-button" (click)="finishQuestionaire()">
        Finish
        <img class="next-arrow" src="./assets/images/icon_arrow.png">
      </div>
  </div>
</section>