/* You can add global styles to this file, and also import other style files */
body {
    margin: 0 auto;
    color: #000000;
}
.ui-accordion-content-wrapper-overflown {
    overflow: hidden;
}
.ui-accordion-content {
    padding: 25px 15px 25px 45px;
    border-top: 1px solid #979797;  
    

}