.hpe-question {
    font-size: 35px;
}
.radio-label-text {
    font-weight: 600;
}
.form-text-field {
    padding-left: 42px;
    padding-top: 15px;
}
.input-field {
    font-size:20px;
    font-weight: 600;
    line-height: 18px;
}
.checkbox-heading {
    padding-bottom: 38px;
}
.checkbox-option-label {
    font-weight: 600;
    /* font-size: 20px; */
    /* line-height: 18px; */
}
input[type=checkbox] + label:before {
    margin-right: 20px;
}